.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent{
	padding: 0 1rem 1rem 1rem;
}
.topLabel{
	margin-top: 1rem;
	font-size: .85rem;
}
.listText .sapMLIB{
	background: transparent;
	border: 0;
	color: #000;
}
.sapMText[data-class="red"] {
	color: red;
}
.heightAuto .sapMLIB{
	height: auto;
}
.alignCenter input{
	text-align: center !important;
}
.alignLeft input{
	text-align: left !important;
}
.noWrapping{
	white-space: normal;
	line-height: normal;
	vertical-align: middle;
}
.listText .sapMListNoData{
	justify-content: start;
	padding: 0 !important;
}
.sapMPanelContent:not(.sapMPanelBGTransparent){
	border-bottom: 0;
}
.fullWidth{
	width: 100%;
}
.marginRight{
	margin-right: .5rem;
}
.margin-top{
	margin-top: 1rem;
}
.leftVBoxStyle {
  padding-right: .5rem;
}

.rightVBoxStyle {
  padding-left: .5rem;
}
.sapMPanelContent{
	padding: 0 1rem 1rem 1rem;
	background: rgba(200,200,200,.2);
}
.sapMPanelContent .sapMPanelContent{
	background: #fff;
}

.sapFDynamicPageContent, .sapFDynamicPageContentFitContainer,
.sapFDynamicPage-Std-Phone .sapFDynamicPageContent, 
.sapFDynamicPage-Std-Phone .sapFDynamicPageContentFitContainer{
	padding: 0;
}
.sapUiBlockCellContent{
	padding: 1rem 1rem 0 1rem;
}
.sapMDialogSection .sapUiBlockCellContent{
	padding: 0 0 1rem 0;
}
.border-top{
	border-top: 2px solid #dfdfdf;
}
[id*="deliveryPointsListPanel"] .sapMCbMarkChecked,
[id*="deliveryPointsListPanel"] .sapMCbBg.sapMCbMarkChecked:before{
    border-color: red !important;
    color: red !important;
}

.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner{
	align-items: center;
}
.paddingRem{
	padding: 1rem;
}
.sapUiSizeCompact .sapMInputBase.sapMTextArea{
	margin: 0;
}
.red{
	color: red !important;
}
.sapUiSizeCompact .sapMTB{
	height: auto;
}
.sapMLIBActive div, .sapMLIBActive .sapMLIBCounter{
	color: #000;
}
.sapMSwt,
.sapUiSizeCompact .sapMSwt{
	width: 110px;
}
.sapMSwtLabel{
	width: 90px;
}
.sapMSwtOn .sapMSwtHandle{
	left: 90px;
}
.noMargin{
	margin: 0;
}
.marginTop{
	margin-top: 1rem;
}
.marginBottom{
	margin-bottom: 1rem;
}
.smallMarginBottom{
	margin-bottom: 7px;
}

.sapMLabel,.sapMLIBActive .sapMLabel{
	color: #888;
}
.sapMText,.sapMLIBActive .sapMText{
	font-size: .9rem;
	color: #000;
}
@media (max-width: 1280px) { 
	.sapMNav{
		position: absolute;
	}
	.sapMSwt,
	.sapUiSizeCompact .sapMSwt{
		width: 120px;
	}
	.sapFDynamicPage-Std-Tablet .sapFDynamicPageContent, .sapFDynamicPage-Std-Tablet .sapFDynamicPageContentFitContainer{
	    padding: 0;
	}
}

/*------------------- SUEK Styles ------------------------ */
.sapMLIBSelected .sapMPanelExpandableIcon,
.sapMLIBSelected .sapMTitle{
	color: #000;
}
.sapMLIBSelected .sapMLabel{
	color: #333;
}